/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

// [global]

.single {

  .fdd-art--page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    padding: 0 $fdd-outer-padding-wide-screen;

    figure.wp-block-image {
      line-height: 0;
      width: 100%;
      display: flex;
      margin: $fdd-outer-padding-wide-screen 0 $fdd-outer-padding-wide-screen * 1.2 0;
      a {
        margin-left: auto;
        margin-right: auto;
        img {
          //width: 100%;
          max-height: 85vh;
          object-fit: contain;
        }
      }
    }
    figure.wp-block-embed {
      margin: 4em auto;
    }

    .fdd-art--description {
      @include base-font-family-set();
      $layout: centered;
      @mixin description-layout($margin-left: false) {
        @if ($layout == centered) {
          margin-left: auto;
          margin-right: auto;
          text-align: center;
        }
        @if ($layout == left) {
          width: 100%;
          $margin: 15%;
          margin-left: if($margin-left != false, $margin-left, $margin);
          margin-right: $margin;
        }
      }

      font-size: 21px;
      padding: 0 0 $fdd-outer-padding-wide-screen * 0.2 0;
      line-height: 2;
      width: 60%;
      @include description-layout();
      &-before, &-after {
        @include description-layout(0);
        height: 1px;
        max-width: 9%;
        min-width: 80px;
        background-color: $base-fdd-text-color;
      }
      $lines-inner-spacing: 20px;
      &-before {
        margin-bottom: 35px + $lines-inner-spacing;
      }
      &-after {
        margin-top: $lines-inner-spacing;
      }
    }
  }

  // [/global]

  /**********************************************************
    Wide screen 
  **********************************************************/

  @media screen and (min-width: $fdd-wide-width-pixels) {

  .category-food-art, .category-behind-the-scenes {
    header {
      display: flex;
      width: 65%;
      margin-left: auto;
      margin-right: auto;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-between;
      margin-top: 2vw;
      .single__title {
        display: block;
        width: calc(50% - 1rem); // - 0 to center the title right edge
        text-align: right;
        margin: 0;
        padding: 0 0 0 $fdd-outer-padding-wide-screen;
      }
      .single__title_excerpt_div {
        width: 1px;
        background: $base-fdd-text-color;
        height: 75px;
        align-self: center;
      }
      .single__excerpt {
        width: calc(50% - 2rem); // - 3rem --''--
        text-align: left;
        padding: 0 15% 0 0;
      }
    }
  }

  }

  /**********************************************************
    Narrow screen
  **********************************************************/

  @media screen and (max-width: $fdd-wide-width-pixels - 1px) {

  .category-food-art, .category-behind-the-scenes {
    header {
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 0 $fdd-outer-padding-narrow-screen;
      .single__title {
        display: block;
        width: 100%;
      }
    }
  }

  $items-padding: 50px;

  .fdd-art--page {
    figure.wp-block-image {
      margin: $items-padding 0 $items-padding * 1.2 0;
    }
    .fdd-art--description {
      padding-bottom: $items-padding * 0.2;
    }
  }

  }

  /**********************************************************
    Super-narrow screen
  **********************************************************/

  @media screen and (max-width: $fdd-narrow-width-pixels - 1px) {

  .fdd-art--page {
    .fdd-art--description {
      font-size: 16px;
    }
  }

  }

}