/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

/*
 Step By Step layout options
 
 static-images-right
    Images are on the right side
    Text is on the left side, squashed
    .fdd-step-by-step--step div is not expected
    All is static

 absolute-positioned-images-text-right 
    Images are left with position absolute and visibility: invisible
    Text is on the right, naturaly squshed
    .fdd-step-by-step--step div ?
    Images are expected to be controlled via js scroll/intersection observer
*/ 

$sBs-layout: static-images-right;


.fdd-step-by-step--page {
  margin: 0;
  padding: 0;
}

@if $sBs-layout == static-images-right {

@media screen and (orientation: landscape) and (min-width: $fdd-wide-width-pixels) {

  .fdd-step-by-step--page figure {
    margin: 0;
    overflow: visible;
  }

  .fdd-step-by-step--page figure a {
    float: right;
    clear: right;
    width: 50%;
    padding-right: $fdd-left-padding-wide-screen;
  }

  .fdd-step-by-step--page .fdd-step-by-step--step-description {
    width: 50% - $fdd-left-padding-wide-screen;
    padding: 0 $fdd-left-padding-wide-screen 1em;
    background: $white-transparent;
  }

}

@media screen and (max-width: $fdd-wide-width-pixels - 1px) {

  .fdd-step-by-step--page figure {
    margin: 0;
  }

  .fdd-step-by-step--page figure img {
    padding-left: $fdd-left-padding-small-screen;
    padding-right: $fdd-left-padding-small-screen;
  }

  .fdd-step-by-step--page .fdd-step-by-step--step-description {
    padding: 3em $fdd-left-padding-small-screen;
    background: $white-transparent;
  }

}

} // sBs-layout == static-images-right
