/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Shared code
@import '../../../shared/fdd-common/common';

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #aaa;
$off-white: #f1f1f1;
$white-transparent: rgba(255, 255, 255, 0.9);

.block-editor span.oob {
  font-style: italic;
  color: #aaa;
}

@mixin title__float_right {
  text-align: left;
  display: block;
  line-height: 1em;
  width: 40%;
  float: right;
  padding: 0 $fdd-inner-padding-wide-screen;
}

@mixin title__centered {
  width: 100%;
  text-align: center;
  padding: 0 1em;
}
