/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #aaa;
$off-white: #f1f1f1;
$white-transparent: rgba(255, 255, 255, 0.9);


$fdd-wide-width-pixels: 980px;
$fdd-left-padding-wide-screen: 2%;
$fdd-left-padding-small-screen: 5%;
