/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

@import '../common';

.wp-block {    
  .container {
    border: 2px solid $gray;
    padding: 1rem;
  }
}

.components-panel, .components-popover {
  .editor-block-styles__item.is-active {
     .fake-preview:before {
        content: '\2705';
        font-size: 2em;
        text-align: center;
        display: block;
     }
  }
  .editor-block-styles__item {
    figure.wp-block-embed {
      display: none;
    }
  }
}
