/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.fdd-recipe--media, .fdd-art--page {
  figure.wp-block-embed {
    margin-top: -2px; // to compensate the 2px outline covering
    float: left;
    width: 90%; // default value, override with block-style!
    .wp-block-embed__wrapper {
      position: relative;
      width: 100%;
      padding-top: 100%; // default value, override with block-style!
      iframe, object, embed {
        border: none;
        outline: 4px $base-bg-color solid;
        outline-offset: -2px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (display-mode: fullscreen) {

figure.wp-block-embed {
  .wp-block-embed__wrapper {
    iframe, object, embed {
      outline: none !important;
    }
  }
}

}

@mixin embed-responsive-style($width, $height, $force_vh: false) {
  @if (($width > $height) and (not $force_vh)) {
    width: 100%;
  }
  @else {
    width: ($width / $height) * 85vh;
    clear: both;  
  }

  .wp-block-embed__wrapper {
    padding-top: ($height / $width) * 100%;
  }
}

/**
 * Embed aspect ratio styling corresponding to fdd_embedingStyles in ./block.js
 */

// Square
@media screen and (max-aspect-ratio: 1/1) {
  figure.wp-block-embed.is-style-square {
    @include embed-responsive-style(1, 1);
  }
}
@media screen and (min-aspect-ratio: 1/1) {
  figure.wp-block-embed.is-style-square {
    @include embed-responsive-style(1, 1, true);
  }
}


// Horizontal
@media screen and (max-aspect-ratio: 4/3) {
  figure.wp-block-embed.is-style-horiz-4-3 {
    @include embed-responsive-style(4, 3);
  }
}
@media screen and (min-aspect-ratio: 4/3) {
  figure.wp-block-embed.is-style-horiz-4-3 {
    @include embed-responsive-style(4, 3, true);
  }
}

@media screen and (max-aspect-ratio: 400/266) {
  figure.wp-block-embed.is-style-horiz-4-266 {
    @include embed-responsive-style(4, 2.66);
  }
}
@media screen and (min-aspect-ratio: 400/266) {
  figure.wp-block-embed.is-style-horiz-4-266 {
    @include embed-responsive-style(4, 2.66, true);
  }
}

@media screen and (max-aspect-ratio: 1600/844) {
  figure.wp-block-embed.is-style-horiz-16-844 {
    @include embed-responsive-style(16, 8.44);
  }
}
@media screen and (min-aspect-ratio: 1600/844) {
  figure.wp-block-embed.is-style-horiz-16-844 {
    @include embed-responsive-style(16, 8.44, true);
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  figure.wp-block-embed.is-style-horiz-16-9 {
    @include embed-responsive-style(16, 9);
  }
}
@media screen and (min-aspect-ratio: 16/9) {
  figure.wp-block-embed.is-style-horiz-16-9 {
    @include embed-responsive-style(16, 9, true);
  }
}

@media screen and (max-aspect-ratio: 16/10) {
  figure.wp-block-embed.is-style-horiz-16-10 {
    @include embed-responsive-style(16, 10);
  }
}
@media screen and (min-aspect-ratio: 16/10) {
  figure.wp-block-embed.is-style-horiz-16-10 {
    @include embed-responsive-style(16, 10, true);
  }
}

@media screen and (max-aspect-ratio: 15/10) {
  figure.wp-block-embed.is-style-horiz-15-10 {
    @include embed-responsive-style(15, 10);
  }
}
@media screen and (min-aspect-ratio: 15/10) {
  figure.wp-block-embed.is-style-horiz-15-10 {
    @include embed-responsive-style(15, 10, true);
  }
}


// Vertical
figure.wp-block-embed.is-style-vertical-15-10 {
  @include embed-responsive-style(10, 15);
}
figure.wp-block-embed.is-style-vertical-16-9 {
  @include embed-responsive-style(9, 16);
}
figure.wp-block-embed.is-style-vertical-16-844 {
  @include embed-responsive-style(8.44, 16);
}
